<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- debug: modo de depuração Possíveis Valores: 0 = desligado 1 = somente 
		no log (se estiver habilitado) 2 = somente na tela 3 = no log e na tela -->
	<debug>1</debug>

	<!-- CaracterSet Utilizado -->
	<charset>UTF-8</charset>
	
	<!-- Nome do Sistema (Utilizado na barra inicial) -->
	<nome>.:: Sua Formatura ::.</nome>
	<!-- Tratamento de Log em arquivo -->
	<log>

		<!-- Habilitado: 0 / 1 -->
		<habilitado>1</habilitado>
		<!-- Caminho relativo ao DOC_ROOT -->
		<caminho>log/system.log</caminho>
	</log>
	
	<arquivos>
		<!-- Caminho relativo ao DOC_ROOT -->
		<caminho>files/</caminho>
	</arquivos>

	<!-- Tratamento de data -->
	<data>
		<timezone>America/Maceio</timezone>
		<locale>pt_BR.utf8</locale>
		<datetimeFormat>d/m/Y H:i:s</datetimeFormat>
		<datetimeSimplesFormat>d/m/Y H:i</datetimeSimplesFormat>
		<dateFormat>d/m/Y</dateFormat>
		<maskDateFormat>dd/mm/yy</maskDateFormat>
		<jsDateFormat>DD/MM/YYYY</jsDateFormat>
	</data>

	<!-- Configurações de Banco de dados -->
	<database>
		<driver>pdo_mysql</driver>
		<usuario>suaFormaturaUser</usuario>
		<senha>d9d1deb2b06d82c7c5dbe56eabb6c69c8827b9a70795be2310b2bfda9f4ddaf9bHVz3+Th9uKsKrPr8nAI+66SQcE8J9hIaqf6WwGKe9EuQN3Rpl8KYYJoK0khh9MH</senha>
		<banco>suaFormatura</banco>
		<ip>localhost</ip>
		<charset>UTF8</charset>
		<indSenhaCript>1</indSenhaCript>
	</database>

	<!-- Configurações de E-Mail -->
	<mail>
		<!-- Servidor Smtp -->
		<servidorSmtp>smtp.gmail.com</servidorSmtp>

		<!-- Porta do Servidor Smtp -->
		<portaSmtp>465</portaSmtp>

		<!-- Tipo de Autenticação do Servidor Smtp -->
		<tipoAutSmtp>login</tipoAutSmtp>

		<!-- Método de criptografia do servidor SMTP -->
		<tipoCriptSmtp>ssl</tipoCriptSmtp>

		<!-- Usuário do servidor SMTP -->
		<usuarioSmtp>suporte@zage.com.br</usuarioSmtp>

		<!-- Senha do servidor SMTP -->
		<senhaSmtp>590c4c9c34de8f6c90c58f2ca6bfe05b1c4778e32b367714aa5c50753db1f8eayvNTryO0qAvNgvuzSY9n9E5JJp5DF5vq6FKDaVQXd+YwPt0iB3QE4l9xswJb2cwA</senhaSmtp>

		<!-- Caso o servidor SMTP seja o google, usar o domínio principal -->
		<dominioSmtp>zage.com.br</dominioSmtp>

		<!-- Nome do Remetente -->
		<nomeRemetente>Suaformatura.com</nomeRemetente>

		<!-- Email do Remetente -->
		<remetente>contato@zage.com.br</remetente>
	
		<!-- Nome do Admin do Sistema -->
		<nomeAdmin>Daniel Cassela</nomeAdmin>

		<!-- Email do Admin do sistema -->
		<admin>daniel@zage.com.br</admin>
	</mail>
</config>
