<form id="zgFormModalID" class="form-horizontal">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h4 class=""><i class="fa fa-check red"></i>&nbsp;%TITULO%</h4>
</div>
<div class="modal-body" style="overflow-y: scroll; height: 250px;">
	<input type="hidden" name="%VAR%" value="%VAR_VALUE%">
	<input type="hidden" name="%VAR2%" value="%VAR_VALUE2%">
	<input type="hidden" name="%VAR3%" value="%VAR_VALUE3%">
	<input type="hidden" name="id" value="%ID%">
	
	
	
    
    		<h4>%TEXTO%</h4>
    		<br>
    		<h5>%OBSERVACAO%</h5>
    	
    
    
    
	
    
    
    <div id="divMsgCPPagID">
    </div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-danger" id="submit">Excluir</button>
	<button type="button" data-dismiss="modal" class="btn" id="cancel">Fechar</button>
</div>
</form>


<script type="text/javascript" charset="%CHARSET%">

$('#zgFormModalID').submit(function() {
	
	$('#submit').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#submit').attr("disabled","disabled");
	$('#cancel').attr("disabled","disabled");
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#zgFormModalID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			zgMostraMsg('divMsgCPPagID',zgGetMsgRetorno(data));
			zgLoadUrl('%URLVOLTAR%');
			
			$('#submit').html('<i class="fa fa-check bigger-110"></i> Salvar ');
			$('#submit').attr("disabled",false);
			$('#cancel').attr("disabled",false);
			
		}else{
			//zgMostraErro('divMsgCPPagID',zgGetMsgRetorno(data));
			zgLimpaModalAviso();
			zgMostraAviso("Fechar");
		}
		$('#zgDivModalID').on('hidden.bs.modal', function () {
			zgLoadUrl('%URLVOLTAR%');
			$('#zgDivModalID').off('hidden.bs.modal');
		});

		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		zgMostraErro('zgDivModalID',errorThrown);
	});
	return false; 
});

</script>
