<div class="row">
	<div class="col-sm-12 widget-container-span">
		<div class="widget-body">
			<div class="page-header">
			<h1><i class="%IC%">&nbsp;</i>%NOME%  <button id='a01ID' class='btn btn-xs btn-primary btn-round' title="Adicionar" onclick="javascript:zgLoadUrl('%URLADD%');"><i class="fa fa-plus-circle bigger-140"></i> Adicionar</button></h1>
			</div><!-- /.page-header -->
				
			<div class="box-content">
				%GRID%
			</div><!--/span-->
		</div>
	</div>
</div>
<script>
	var vUrl = '%URLADD%';
	
	if (vUrl == '') {
		$('#a01ID').hide();
	} 
</script>